/*******************************  fonts imported from Google fonts *********************************************/

@import url('https://fonts.googleapis.com/css?family=Bangers|Cuprum:400,700');


/************************************************************  GENERAL *******************************************************************/

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Cuprum', sans-serif;
    /* set the default text to Cuprum*/
    font-weight: 400;
    font-size: 16px;
}

.uppercase {
    text-transform: uppercase;
}

p,
h1,
h2,
h3,
h4,
ul,
li,
progress,
.col-xs-12,
.hight20 .row,
.wrapper-header .row {
    margin: 0px;
    padding: 0px;
}

.btn {
    font-family: "Bangers", sans-serif;
    /*common font for all the buttons*/
    letter-spacing: 1px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}

header {
    width: 100%;
}

/*****  background color from main section in all pages *****/

.bg-section {
    background-color: #eeeeee;
}

.wrapper-section {
    margin: 60px 40px;
}

.page-subtitle {
    font-family: "Bangers", sans-serif;
    margin-bottom: 35px;
    margin-left: 16px;
    font-size: 32px;
    color: #555555;
    text-align: center;
}


/*******************************  header index.html *********************************************/

/* header for small screens */

.hight20-0 {
    padding: 10px;
    border: 0px;
    height: 20%;
    background-color: #de8e15;
    position: relative;
    border-bottom: 2px solid #0b1752;
}

.hight20-0 img {
    position: absolute;
    /* placed absolute in relation to hight-20-0 because is hight-20-0 is position:relative and img is absolute*/
    height: 100%;
    display: block;
    margin: auto;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1;
    /* so it apperas on top of the carousel and header*/
}

/************************************************************ Index.html *****************************************************************/

/******************************* Carousel *********************************************/

.hight60-80 {
    padding: 0px;
    border: 0px;
    height: 60%;
    overflow: hidden;
}


.carousel,
.item,
.active {
    height: 100%;
}


.carousel-inner {
    height: 100%;
}

.slide {
    margin: 0px;
}

.carousel-inner>.item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    /*so the image doesn't lose the ratio*/
}

.carousel-indicators {
    margin-bottom: 20px;
}


.carousel-indicators .active {
    background-color: #de8e15;
    width: 15px;
    height: 15px;
}


.carousel-indicators li {
    border: 3px solid #0b1752;
    width: 15px;
    height: 15px;
}

.carousel-indicators li:active {
    background-color: #de8e15;
}

.glyphicon.glyphicon-chevron-right {
    font-size: 50px;
    color: #de8e15;
}

.glyphicon.glyphicon-chevron-left {
    font-size: 50px;
    color: #de8e15;
}



/******************************* Footer index.html ************************************/

.hight20 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 20%;
    background-color: #0b1752;
    border-top: 2px solid #de8e15;
}


.circle {
    width: 220px;
    height: 220px;
    border-radius: 110px;
    background-color: #de8e15;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.hight20 img {
    position: absolute;
    width: 220px;
    height: auto;
    bottom: 15px;
    left: 15px;
    z-index: 3;
}


.hight20 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hight20 p {
    text-align: center;
}

.hight20 p a {
    text-align: center;
    font-family: 'Bangers', sans-serif;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 4px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.hight20 p a:hover,
.hight20 p a:focus {
    color: #de8e15;
    text-decoration: none;
}

/******************************* media queries for index.html *************************/

@media (min-width:768px) {

    .hight20 p a {
        font-size: 50px;
    }

    /***** for desktop we want to display the carousel using the 80% 
     of the hight instead of the 60% as we do for small screens*/
    .hight60-80 {
        height: 80%;
    }

}


/************************************* band.html, contact.html, listen.html, news.html *****************************************************/

/******************************* general header for band.html, contact.html, listen.html, news.html ****************************************/

.wrapper-header {
    background-color: #de8e15;
    border-bottom: 2px solid #0b1752;
    height: 90px;
}

/************************************** header, nav bar and footer for theband.html, listen.html, news.html, contact.html******************/

/************************************ header logo ************************/

.logo {
    height: 90px;
    position: relative;
}

.logo img {
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: contain;
    bottom: -80px;
    z-index: 1;
    padding-left: 45px;
}


/***** changing LOGO size and position for each screen size  *****/

@media (min-width: 768px) and (max-width: 991px) {
    .logo img {
        width: 150px;
        height: 150px;
        bottom: -70px;
        padding-left: 15px;
    }
}

@media (min-width: 992px) {
    .logo img {
        width: 210px;
        height: 210px;
        bottom: -100px;
        padding-left: 40px;
    }
}

/*************************************************** NAVIGATION BAR, FOOTER AND MODAL FOR ALL ****************/

/******************* navigation bar  ************************************/

.bg-nav {
    min-height: 90px;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

/****** hamburger button *******/

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    border-color: transparent;
    background-color: transparent;
    margin-top: 25px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 40px;
    height: 6px;
    margin-bottom: 6px;
}

nav ul li .page {
    white-space: nowrap;
    /*** no wrap to the next line **/
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 18px;
    font-family: 'Bangers', sans-serif;
    letter-spacing: 3px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #0b1752;
    background-color: transparent;
}

nav ul li {
    background-color: #de8e15;
    border-bottom: 1px solid #0b1752;
    border-right: 1px solid #0b1752;
    border-left: 1px solid #0b1752;
    padding-bottom: 10px;
    padding-top: 10px;
}

/************ btn-signin is from the contact.html ***********/

.nav .nav-item .btn-success2 {
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
    background-color: transparent;
    border: none;


}

.nav .nav-item .btn-success2:hover,
.nav .nav-item .btn-success2:focus,
.nav .nav-item .btn-success2:active {
    color: #0b1752;
    border-color: transparent;
    border: none;
    background-color: transparent;
    box-shadow: none;
}



.btn-signin {
    color: #fff;
    background-color: #ff8707;
    border-color: transparent;
}




.navbar-collapse {
    position: relative;
    top: -7px;
    text-align: center;
    margin-right: 0px;
    margin-top: -5px;
    width: 100%;
    border: 0px solid transparent;
    box-shadow: none;
}


/************* media queries for bigger screens *************/

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
        width: 100%;
        margin: 0 auto;
    }

    .navbar-collapse.collapse {
        height: 90px;
        margin-top: 0px;
    }

    .navbar-nav>.nav-item-menu>button {
        padding-top: 15px;
    }

    .nav-item {
        width: 20%;
        height: 100%;
        text-align: center;
        line-height: 90px;
    }

    .nav>li>button {
        display: inline-block;
    }


    .btn-signin {
        background-color: #ff8a00;
        box-shadow: 1px 2px 4px 0px #0b1752;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }

    .nav .nav-item .btn-success2 {
        padding-top: 12px;
        height: 45px;
        width: 125px;
        border-radius: 20px;
        margin-bottom: 20px;
        background-color: #ff8a00;
        color: #fff;
        box-shadow: 1px 2px 4px 0px #0b1752;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;

    }

    .nav .nav-item .btn-success2:focus,
    .nav .nav-item .btn-success2:hover,
    .nav .nav-item .btn-success2:active {
        color: #fff;
        background-color: #ffaa46;
        box-shadow: 1px 2px 4px 0px #0b1752;
    }


    nav ul li i {
        display: block;
        padding-bottom: 10px
    }

    nav ul li .page {
        display: block;
    }

    nav ul li {
        background-color: transparent;
        border: none;
    }

}



@media (min-width: 992px) {

    .collapse ul .subscribe .btn {
        width: 80%;
    }
}



/******************************** FOOTER  ************************************/

.bg-all-footer {
    background-color: #86a875;
    color: #fdfdfd;
    border-top: 2px solid #0b1752;

}

/*****  contact footer  *****/

.footer .h5footer {
    margin-top: 0px;
    font-family: 'Bangers', sans-serif;
    padding-bottom: 2px;
    letter-spacing: 1px;
    font-size: 15px
}

.bg-all-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bg-social {
    margin-left: auto;
    /*this will push the divs to the side of the footer*/
}

.dl-horizontal {
    font-size: 11px;
    padding-bottom: 0px;
}

.dl-horizontal,
dt,
dd {
    margin: 0px;
    padding: 0px;
}

.bg-contactus {
    padding-left: 10px;
}

.bg-social {
    padding-right: 10px;
}


/***** this media querie is used to avoid the <dd> to wrap under the <dt> in screens smallers than 768px ****/

@media (min-width: 310px) {

    .dl-horizontal {
        width: 160px;
    }

    .dl-horizontal dt {
        float: left;
        width: 60px;
        overflow: hidden;
        clear: left;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 0px;
    }
}

@media (min-width: 768px) {

    .dl-horizontal {
        width: 200px;
    }

    .dl-horizontal dt {
        width: 80px;
    }

    .footer .h5footer {
        font-size: 20px;
    }
    .dl-horizontal {
        font-size: 13px;
    }
    .dl-horizontal dt {
        width: 80px;
    }
    .bg-contactus {
        padding-left: 40px;
    }
    .bg-social {
        padding-right: 40px;
    }
}


.bg-social {
    white-space: nowrap;
}


.bg-social-icon {
    display: block;
    position: relative;
    border-radius: 8px;
    width: 35px;
    height: 35px;
    background-color: #516b57;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.bg-social-icon:hover {
    background-color: #3b4c3f;
}

.bg-social-icon i {

    font-size: 25px;
    position: absolute;
    line-height: 35px;
    /*this way it is center vertically*/
    left: 7px;
    color: #fff;
}

.bg-social-icon .fa-facebook {
    left: 10px;
}



/*******************************   MODAL Subscribe  **********************************/

.modal-content {
    background-color: #eeeeee;
}

.modal-title {
    font-family: 'Bangers', sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
}

.modal-body {
    width: 80%;
    margin: 0 auto;
}

.modal-footer .btn-signin {
    background-color: #de8e15;
    color: #fff;
}

.modal-footer .btn-signin:hover {
    background-color: #eba100;
    color: #fff;
}

.modal-footer .btn-reset:hover,
.modal-footer .btn-reset:focus {
    background-color: #eeeeee;
    color: #000000;
    border-color: transparent;

}


.wrapper-check {
    padding-top: 10px;
}

.form-control {
    margin: 0 auto;
    border: 0px;
    height: 45px;
    width: 80%;
}

.form-group {
    margin-bottom: 15px;
}

.wrapper-check {
    width: 80%;
}

.modal-header,
.modal-footer {
    border: 0px;
    text-align: center;
}

.modal-footer {
    margin-bottom: 20px;
}

.checkbox {
    text-align: left;
    margin-left: 0px;
}

.modal-footer .btn {
    font-size: 18px;
}

.header-content {
    position: relative;
    top: 0px;
    left: 0px;
    height: 90px;
    right: 0px;
    overflow: visible;
    z-index: 2;
}

.bg-section {
    position: absolute;
    bottom: 90px;
    top: 90px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 90px;
    right: 0px;
    overflow: hidden;
}


/******************************************************************** theband.html ********************************************************/

/**************** History of the band **************************/

.page-title {
    font-family: "bangers", sans-serif;
    font-size: 50px;
    padding-bottom: 40px;
    font-weight: 400;
    color: #9abf88;
    text-shadow: 1px 2px black;
    letter-spacing: 1px;
}

.bandimage,
.bandimage2 {
    text-align: center;
    margin-bottom: 35px;
}

.bandimage img,
.bandimage2 img {
    width: 250px;
}


.band-img-text-row {
    width: 100%;
    margin: 0;
}

.textband {
    margin-bottom: 90px;
}

/********************* members *********************************/

.member-image img {
    box-shadow: 3px 2px 5px 1px grey;
}

.member-image {
    margin-bottom: 25px;
}

.member-text p {

    margin-bottom: 10px;
}

.member-info div div h3 {
    margin-bottom: 20px;
}

.member-info {
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.members-img-text {
    margin-bottom: 25px
}


/*********************discography*******************************/

.disco-wrapper {
    width: 40%;
    margin: 0 auto;
    padding-left: 60px;
    border-left: 2px solid black;
    margin-top: 25px;

}

.discography {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.timeline {
    margin-left: 25px;
}

.discography-item {
    padding-left: 15px;
    padding-bottom: 50px;
    font-size: 18px
}

.discography::after {
    position: absolute;
    top: 0px;
    left: -105px;
    content: attr(data-year);
    display: block;
    background-color: #0c1d47;
    color: #fff;
    border-radius: 25px;
    padding: 2px 25px;
    border: 1px solid #0c1d47;
    font-size: 18px
}


/********************** media queries the theband.html **********/

@media (min-width: 768px) {

    .bandimage {
        float: right;
        margin: 0px 0px 40px 80px;
    }

    .bandimage2 {
        float: left;
        margin: 0px 80px 40px 0px;
    }

    .bandimage img {
        width: 400px;
    }

    .bandimage2 img {
        width: 500px;
    }

    .member-info {
        padding: 0px 60px 40px 60px;
    }
}


@media (min-width: 1200px) {

    .discography-wrapper {
        padding-left: 120px;
    }

    .disco-wrapper {
        width: 100%;
        padding-left: 60px;
        border-left: 2px solid black;
    }
}


/************************************************************************** listen.html ***************************************************/

.wrapper-albums {
    padding: 0px 20px;
}

.wrapper-player {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.album {
    float: none;
    margin: 0 auto;
    position: relative;
    background-image: url("../images/vinyl2.png");
    height: 320px;
    width: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.album .img-circle {
    position: absolute;
    width: 165px;
    height: 165px;
    padding: 20px;
    top: 24%;
    left: 15%;
    box-shadow: 1px 1px 10px 5px white inset;
}


.album :hover {
    -webkit-animation: rotate 2s infinite linear;
    -moz-animation: rotate 2s infinite linear;
    -o-animation: rotate 2s infinite linear;
    -ms-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
}



@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.audio-mp3 {
    display: flex;
    justify-content: center;
    align-items: center
}



audio {
    width: 75%;
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px #777777;
}



.title-song,
.title-album {
    text-align: center;
    margin-top: 25px;
}

.new-album {
    padding: 30px 0px;
}

iframe {
    border-style: outset;
}



.iframeframe {
    width: 80%;
    margin: 0 auto;

}


.follow-spotify {

    width: 150px;
    margin: 0 auto;
    padding: 0px
}

.follow-spotify iframe {
    margin: 0 auto;

}

.iframeframe iframe {
    width: 100%;
}


.newmusic {
    margin-bottom: 60px;
}

.new-album .iframeframe {
    padding: 20px 25px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, darkgrey, #fafafa);
    box-shadow: 1px 1px 1px 1px #777777;
}



.buy-download-share {
    text-align: center;
}

.buy-download-share a i {
    padding-left: 15px;
    font-size: 25px;
    color: #1c5821;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.buy-download-share a i:hover {
    color: #ff7800;
}

.lyrics {
    padding-top: 15px;
}

.fa-download {
    padding-top: 25px;
}

.share-buy {
    padding: 25px;
}

.share-buy a i {
    font-size: 35px;
    letter-spacing: 30px;
}

.wrapper-song {
    margin-bottom: 60px;
}

.lyrics p {
    vertical-align: middle;
}

.cover div {

    width: 80px;
    height: 80px;
}

.header-listen {
    font-family: "Cuprum", sans-serif;
    font-weight: 700;
    font-size: 18px;
}




/************************************************************************************ contact.html ***********************************************/

.contact-form-wrapper {
    padding: 50px 40px 100px 40px;
}

.form-horizontal .col-sm-10,
.form-horizontal .col-xs-6 {
    padding-right: 0px;
}

.opinions-wrapper {
    padding: 0px 20px 0px 20px;
}

.form-control {
    width: 100%;
}

.date1,
.time {
    margin-bottom: 15px;
}


.form-horizontal .col-sm-10,
.form-horizontal .col-xs-6 {
    padding-left: 0px;
}

.form-horizontal label {
    padding-left: 0px;
}

.fa-quote-left {
    font-size: 20px;
    color: #de8e15;
    padding-right: 5px;
    text-shadow: 1px 1px #000000;
}

.fa-quote-right {
    font-size: 20px;
    color: #de8e15;
    padding-left: 5px;
    text-shadow: 1px 1px #000000;
}


blockquote p:last-child {
    margin-bottom: 0;
    padding-top: 8px;
    font-weight: 700;
    color: #905304;
}

.wrapper-buttons {
    width: 200px;
    margin: 0px auto;
    white-space: nowrap;
}

.btn-reset {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 1px 1px 1px 1px #555555;
    margin-right: 20px;
}


.wrapper-buttons .btn-reset,
.wrapper-buttons .btn-signin {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.wrapper-buttons .btn-reset:hover,
.wrapper-buttons .btn-reset:focus {
    background-color: #eeeeee;
    color: #000000;
    border-color: transparent;

}

.wrapper-buttons .btn-signin:hover,
.wrapper-buttons .btn-signin:focus {
    background-color: #eba100;
    color: #ffffff;
    border-color: transparent;

}




/**************** media queries *********************************/

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }

    .contact-form-wrapper {
        padding: 0px 100px 90px 100px;
    }

    .opinions-wrapper {
        padding: 0px 100px 0px 40px;
    }

    .date {

        width: 120px;
        padding-left: 15px;
        float: left;
    }

    .form-horizontal .col-sm-10,
    .form-horizontal .col-xs-6 {
        padding-left: 0px;
    }
}

@media (min-width: 992px) {
    .control-label-time {
        padding-left: 50px !important;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .contact-form-wrapper {
        padding: 0px 50px 90px 50px;
    }


}


/************************************************************ news.html *************************************************************************/

/***** I watched a video about responsive iframes in youtube "https://www.youtube.com/watch?v=X4t0JxiBeO0"*****/

.news-video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.news-video iframe {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 100%;
    border: 10px solid white;
    box-shadow: 1px 1px 1px 1px #777777;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.news-video iframe:hover {
    box-shadow: 2px 2px 2px 2px #34a271;
}

.page-subtitle {
    margin-left: 0px;
}

.videos-wrapper {
    padding-left: 8%;
    padding-right: 8%;
}

.video-block h3 {
    font-weight: 700;
}

.video2 {
    margin-top: 120px;
}

.iframeframnews {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .videos-wrapper {
        padding-left: 180px;
        padding-right: 0px;
    }
}

ul li {
    list-style: none;
}

.bg-concerts {
    padding: 0px 50px 0px 40px;
}

.concert-list {
    margin-bottom: 60px;
}

.concert-place {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
    line-height: 25px;
}

.concert-day {
    font-weight: 400;
    font-size: 19px;
    white-space: nowrap;
    margin: 20px 0px 20px 0px;
}

.bg-concerts .col-xs-5,
.bg-concerts .col-xs-7 {
    margin: 0px;
    padding: 0px;
}

.bg-concerts .col-xs-5 {
    text-align: right;
}

.concert-buy h3 i {
    font-size: 20px;
}

.concert-buy button .btn {
    font-size: 20px;
    padding-right: 5px;
}

.btn-success {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.progress {
    background-color: #ffffff;
    height: 30px;
}

.progress-bar {
    font-size: 90%;
    font-weight: bolder;
    color: #242c51;
    padding-top: 5px;
}




.label-warning {
    -webkit-animation: warning 1.5s ease-in-out infinite;
    -moz-animation: warning 1.5s ease-in-out infinite;
    -o-animation: warning 1.5s ease-in-out infinite;
    -ms-animation: warning 1.5s ease-in-out infinite;
    animation: warning 1.5s ease-in-out infinite;
}

@-webkit-keyframes warning {
    from {
        color: transparent;
    }
    to {
        color: #ffffff;
    }
}

@-moz-keyframes warning {
    from {
        color: transparent;
    }
    to {
        color: #ffffff;
    }
}


@keyframes warning {
    from {
        color: transparent;
    }
    to {
        color: #ffffff;
    }
}



#myModal2 p {
    margin-bottom: 30px;
}

#myModal2 p .text-muted {
    font-size: 14px;
}
